<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <form [formGroup]="articleFg">
          <fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Article Title" formControlName="title" />
              <ul *ngIf="articleFg.controls['title'].hasError('required')" class="error-messages">
                <li>Article title is required</li>
              </ul>
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control" placeholder="What's this article about?" formControlName="description" />
            </fieldset>
            <fieldset class="form-group">
              <textarea
                formControlName="body"
                class="form-control"
                rows="8"
                placeholder="Write your article (in markdown)"
              ></textarea>
            </fieldset>
            <fieldset class="form-group">
              <mat-chip-list #chipList aria-label="Tag selection" [formControl]="tagsFc">
                <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
                  {{tag.name}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input 
                      class="form-control"
                      placeholder="New tag..."
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
            </fieldset>
            <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="handlePublish()">
              Publish Article
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>