.example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background-color: white;
}

.navbar-brand {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.5rem !important;
    padding-top: 0rem !important;
    margin-right: 2rem !important;
    color: #5CB85C !important;
}

.nav-link {
    font-weight: normal;
    margin-left: 1rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.3);
}

.active {
    color: rgba(0, 0, 0, 0.8);
}