<div class="feed banner">
    <div class="container">
        <h1>mockdb</h1>
        <p>Demo application to showcase the <a target="_blank" href="https://github.com/mattellis91/mockdb">mockdb</a> library based on the <a target="_blank" href="https://github.com/gothinkster/realworld">realworld</a> example application</p>
    </div>
</div>
<div class="container page">
    <div class="row">
        <div class="col-md-9">
            main
        </div>
        <div class="col-md-3">
            side
        </div>
    </div>
</div>